/*
[1200px - 1800px] the normal style in use (Desktop-First @ Max-Width 1800px)

$breakpoint argument choices:

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

main {
  margin-top: 3.7rem; }

body {
  position: relative;
  min-height: 100vh;
  background-color: #3498db;
  background-image: linear-gradient(45deg, #f8c471, #3498db, #34495e);
  box-sizing: border-box; }

::selection {
  background-color: #3498db;
  color: #000; }

body {
  font-family: 'Arimo', sans-serif !important;
  font-weight: 400;
  color: #34495e;
  line-height: 1.5; }

.heading-primary {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  color: #1b2631; }

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  color: #283747;
  font-weight: 600; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph.error {
    color: #ff0000;
    font-weight: 600; }

.book-size {
  font-size: 1.2rem; }

.input-text {
  font-family: inherit;
  font-size: 1.6rem;
  color: #1b2631;
  background-color: rgba(255, 255, 255, 0.3); }

.label-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3498db; }

.alert {
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }
  .alert--error {
    background-color: #ff0000; }

.btn {
  display: inline-block;
  width: 90%;
  padding: 1.4rem 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 1rem;
  cursor: pointer; }
  .btn-icon {
    font-size: 2.3rem; }

.form__group-wrapper {
  display: flex;
  justify-content: space-between; }

.form__input {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 1rem;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 0.3rem solid #3498db; }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff0000; }
  .form__input::-webkit-input-placeholder {
    color: #85929e; }
  .form__input.error {
    border-bottom: 0.3rem solid #ff0000; }

.form__label {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  text-align: left;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__input:focus:invalid + .form__label {
  color: #ff0000; }

.form__input.error + .form__label {
  color: #ff0000; }

.weather-wrapper {
  max-width: 60rem;
  background-color: rgba(242, 243, 244, 0.17);
  background-image: linear-gradient(110deg, rgba(240, 243, 244, 0.17), rgba(242, 243, 244, 0.17));
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem; }

.weather-details-wrapper {
  background-color: #aeb6bf;
  background-image: linear-gradient(140deg, #85929e, #aeb6bf);
  border: 0.2rem solid rgba(27, 38, 49, 0.11);
  border-radius: 2rem; }

.weather-forecast-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.2rem;
  margin-top: 1rem; }

.weather-details__header {
  padding: 1rem; }
  .weather-details__header-weather {
    text-transform: capitalize; }

.weather-details__condition {
  display: flex;
  padding: 1rem; }
  .weather-details__condition--primary {
    display: flex;
    width: 75%; }
  .weather-details__condition-icon {
    width: 5rem; }
    .weather-details__condition-icon > img {
      width: 100%; }
  .weather-details__condition-temp {
    display: flex;
    padding: 0.5rem; }
    .weather-details__condition-temp-unit {
      margin-top: 0.5rem;
      margin-left: 0.3rem; }
      .weather-details__condition-temp-unit > span::before {
        content: '\00b0'; }
      .weather-details__condition-temp-unit > .active {
        color: lightblue; }
      .weather-details__condition-temp-unit > span:not(.active) {
        cursor: pointer; }

.weather-summary {
  background-color: #aeb6bf;
  background-image: linear-gradient(140deg, #85929e, #aeb6bf);
  border: 0.2rem solid rgba(27, 38, 49, 0.01);
  border-radius: 2rem; }
  .weather-summary.active {
    background-color: rgba(174, 182, 191, 0.7);
    background-image: linear-gradient(45deg, rgba(174, 182, 191, 0.7), rgba(52, 152, 219, 0.7));
    border-top: 0.1rem solid rgba(27, 38, 49, 0.17);
    border-bottom: 0.1rem solid rgba(27, 38, 49, 0.17);
    border-left: none;
    border-right: none; }
    .weather-summary.active > .weather-summary__day {
      font-size: 1.55rem;
      color: rgba(52, 73, 94, 0.6); }
    .weather-summary.active > .weather-summary__icon {
      width: 89%;
      opacity: 0.6; }
    .weather-summary.active > .weather-summary__temp {
      font-size: 1.55rem;
      color: rgba(52, 73, 94, 0.6); }
  .weather-summary:not(.active) {
    cursor: pointer; }
  .weather-summary__day {
    text-align: center;
    margin-top: 1rem; }
  .weather-summary__icon {
    width: 91%;
    margin-left: auto;
    margin-right: auto; }
    .weather-summary__icon > img {
      width: 100%; }
  .weather-summary__temp {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem; }
    .weather-summary__temp-high {
      margin-right: 1rem; }
    .weather-summary__temp-high::after, .weather-summary__temp-low::after {
      content: '\00b0'; }
