/*
[1799px - 1200px] the normal style in use (Desktop-First @ Max-Width 1799px)
[1199px - 900px] Tablet Landscape (Max-Width 1199px)
[899px - 600px] Tablet Portrait (Max-Width 899px)
[599px - 480px] Big-Mobile (Max-Width 599px)
[479px - 380px] Mobile (Max-Width 479px)
[379px - 0] Small Mobile (Max-Width 379px)

$breapoint argument choices for MAX:
 - tab-land
 - tab-port
 - big-mobile
 - mobile
 - small-mobile

$breakpoint argument choices for MAX and MIN:
 - port-991x-768n
 - port-1199x-992n

Example ratio:
 - tab-land @ 1199px/16px = 74.9375em

Let 1em = 16px

MAX-WIDTH
74.9375em = 1199px
56.1875em = 899px
37.4375em = 599px
29.9375em = 479px
23.6875em = 379px

MAX-WIDTH AND MIN-WIDTH
61.9375em = 991px (max) AND 48em = 768px (min)
74.9375em = 1199px (max) AND 62em = 992px (min)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 74.9375em) {
    html {
      font-size: 68.75%; } }
  @media only screen and (max-width: 56.1875em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 29.9375em) {
    html {
      font-size: 81.25%; } }

main {
  margin-top: 3.7rem; }

body {
  position: relative;
  min-height: 100vh;
  background-color: #3498db;
  background-image: linear-gradient(45deg, #f8c471, #3498db, #34495e);
  box-sizing: border-box; }
  @media only screen and (max-width: 74.9375em) {
    body {
      min-height: 100vw; } }
  @media only screen and (max-width: 74.9375em) and (min-width: 62em) and (orientation: portrait) {
    body {
      min-height: 100vh; } }
  @media only screen and (max-width: 61.9375em) and (min-width: 48em) and (orientation: portrait) {
    body {
      min-height: 100vh; } }
  @media only screen and (max-width: 56.1875em) {
    body {
      min-height: 100vh; } }

::selection {
  background-color: #3498db;
  color: #000; }

body {
  font-family: 'Arimo', sans-serif !important;
  font-weight: 400;
  color: #34495e;
  line-height: 1.5; }

.heading-primary {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  color: #1b2631; }
  @media only screen and (max-width: 37.4375em) {
    .heading-primary {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 29.9375em) {
    .heading-primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 23.6875em) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  color: #283747;
  font-weight: 600; }
  @media only screen and (max-width: 37.4375em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 29.9375em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 23.6875em) {
    .heading-secondary {
      font-size: 1.7rem; } }

.paragraph {
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.4375em) {
    .paragraph {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 29.9375em) {
    .paragraph {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 23.6875em) {
    .paragraph {
      font-size: 1.1rem; } }
  .paragraph.error {
    color: #ff0000;
    font-weight: 600; }

.book-size {
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.4375em) {
    .book-size {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 29.9375em) {
    .book-size {
      font-size: 0.9rem; } }
  @media only screen and (max-width: 23.6875em) {
    .book-size {
      font-size: 0.75rem; } }

.input-text {
  font-family: inherit;
  font-size: 1.6rem;
  color: #1b2631;
  background-color: rgba(255, 255, 255, 0.3); }
  @media only screen and (max-width: 37.4375em) {
    .input-text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 29.9375em) {
    .input-text {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 23.6875em) {
    .input-text {
      font-size: 1.2rem; } }

.label-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3498db; }
  @media only screen and (max-width: 37.4375em) {
    .label-text {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 29.9375em) {
    .label-text {
      font-size: 0.95rem; } }
  @media only screen and (max-width: 23.6875em) {
    .label-text {
      font-size: 0.85rem; } }

.alert {
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }
  @media only screen and (max-width: 74.9375em) {
    .alert {
      width: 60%; } }
  @media only screen and (max-width: 56.1875em) {
    .alert {
      width: 65%; } }
  @media only screen and (max-width: 37.4375em) {
    .alert {
      width: 70%;
      font-size: 1.5rem; } }
  @media only screen and (max-width: 29.9375em) {
    .alert {
      width: 75%;
      font-size: 1.3rem; } }
  @media only screen and (max-width: 23.6875em) {
    .alert {
      width: 80%;
      font-size: 1.1rem; } }
  .alert--error {
    background-color: #ff0000; }
  .alert--warning {
    background-color: #f8c471; }

.btn {
  display: inline-block;
  width: 90%;
  padding: 1.4rem 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 37.4375em) {
    .btn {
      padding: 1.2rem 1.8rem; } }
  @media only screen and (max-width: 29.9375em) {
    .btn {
      padding: 1rem 1.6rem; } }
  @media only screen and (max-width: 23.6875em) {
    .btn {
      padding: 0.8rem 1.4rem; } }
  .btn-icon {
    font-size: 2.3rem; }
    @media only screen and (max-width: 37.4375em) {
      .btn-icon {
        font-size: 2.1rem; } }
    @media only screen and (max-width: 29.9375em) {
      .btn-icon {
        font-size: 1.9rem; } }
    @media only screen and (max-width: 23.6875em) {
      .btn-icon {
        font-size: 1.7rem; } }

.form__group-wrapper {
  display: flex;
  justify-content: space-between; }

.form__input {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 1rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 37.4375em) {
    .form__input {
      padding: 1.3rem; } }
  @media only screen and (max-width: 29.9375em) {
    .form__input {
      padding: 1rem; } }
  @media only screen and (max-width: 23.6875em) {
    .form__input {
      width: 85%;
      margin-left: 0;
      padding: 0.9rem; } }
  .form__input:focus {
    outline: none;
    border-bottom: 0.3rem solid #3498db; }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff0000; }
  .form__input::-webkit-input-placeholder {
    color: #85929e; }
  .form__input.error {
    border-bottom: 0.3rem solid #ff0000; }

.form__label {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  text-align: left;
  transition: all 0.3s; }
  @media only screen and (max-width: 23.6875em) {
    .form__label {
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__input:focus:invalid + .form__label {
  color: #ff0000; }

.form__input.error + .form__label {
  color: #ff0000; }

.weather-wrapper {
  max-width: 60rem;
  background-color: rgba(242, 243, 244, 0.17);
  background-image: linear-gradient(110deg, rgba(240, 243, 244, 0.17), rgba(242, 243, 244, 0.17));
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem; }
  @media only screen and (max-width: 56.1875em) {
    .weather-wrapper {
      max-width: 50rem; } }
  @media only screen and (max-width: 37.4375em) {
    .weather-wrapper {
      max-width: 40rem; } }
  @media only screen and (max-width: 29.9375em) {
    .weather-wrapper {
      max-width: 30rem; } }
  @media only screen and (max-width: 23.6875em) {
    .weather-wrapper {
      max-width: 25rem; } }

.weather-details-wrapper {
  background-color: #aeb6bf;
  background-image: linear-gradient(140deg, #85929e, #aeb6bf);
  border: 0.2rem solid rgba(27, 38, 49, 0.11);
  border-radius: 2rem; }

.weather-forecast-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.2rem;
  margin-top: 1rem; }
  @media only screen and (max-width: 23.6875em) {
    .weather-forecast-wrapper {
      overflow-x: scroll; } }

.weather-details__header {
  padding: 1rem; }
  .weather-details__header-weather {
    text-transform: capitalize; }

.weather-details__condition {
  display: flex;
  padding: 1rem; }
  @media only screen and (max-width: 23.6875em) {
    .weather-details__condition {
      padding: 0.5rem; } }
  .weather-details__condition--primary {
    display: flex;
    width: 75%; }
    @media only screen and (max-width: 37.4375em) {
      .weather-details__condition--primary {
        width: 60%; } }
    @media only screen and (max-width: 29.9375em) {
      .weather-details__condition--primary {
        width: 57%; } }
    @media only screen and (max-width: 23.6875em) {
      .weather-details__condition--primary {
        width: 53%; } }
  .weather-details__condition-icon {
    width: 5rem; }
    @media only screen and (max-width: 37.4375em) {
      .weather-details__condition-icon {
        width: 4.5rem; } }
    @media only screen and (max-width: 29.9375em) {
      .weather-details__condition-icon {
        width: 4rem; } }
    @media only screen and (max-width: 23.6875em) {
      .weather-details__condition-icon {
        width: 3.5rem; } }
    .weather-details__condition-icon > img {
      width: 100%; }
  .weather-details__condition-temp {
    display: flex;
    padding: 0.5rem; }
    .weather-details__condition-temp-unit {
      margin-top: 0.5rem;
      margin-left: 0.3rem; }
      .weather-details__condition-temp-unit > span::before {
        content: '\00b0'; }
      .weather-details__condition-temp-unit > .active {
        color: lightblue; }
      .weather-details__condition-temp-unit > span:not(.active) {
        cursor: pointer; }

.weather-summary {
  background-color: #aeb6bf;
  background-image: linear-gradient(140deg, #85929e, #aeb6bf);
  border: 0.2rem solid rgba(27, 38, 49, 0.01);
  border-radius: 2rem; }
  @media only screen and (max-width: 23.6875em) {
    .weather-summary {
      min-width: 6rem; } }
  .weather-summary.active {
    background-color: rgba(174, 182, 191, 0.7);
    background-image: linear-gradient(45deg, rgba(174, 182, 191, 0.7), rgba(52, 152, 219, 0.7));
    border-top: 0.1rem solid rgba(27, 38, 49, 0.17);
    border-bottom: 0.1rem solid rgba(27, 38, 49, 0.17);
    border-left: none;
    border-right: none; }
    .weather-summary.active > .weather-summary__day {
      font-size: 1.55rem;
      color: rgba(52, 73, 94, 0.6); }
      @media only screen and (max-width: 37.4375em) {
        .weather-summary.active > .weather-summary__day {
          font-size: 1.45rem; } }
      @media only screen and (max-width: 29.9375em) {
        .weather-summary.active > .weather-summary__day {
          font-size: 1.05rem; } }
      @media only screen and (max-width: 23.6875em) {
        .weather-summary.active > .weather-summary__day {
          font-size: 1rem; } }
    .weather-summary.active > .weather-summary__icon {
      width: 89%;
      opacity: 0.6; }
      @media only screen and (max-width: 37.4375em) {
        .weather-summary.active > .weather-summary__icon {
          width: 87%; } }
      @media only screen and (max-width: 29.9375em) {
        .weather-summary.active > .weather-summary__icon {
          width: 85%; } }
      @media only screen and (max-width: 23.6875em) {
        .weather-summary.active > .weather-summary__icon {
          width: 83%; } }
    .weather-summary.active > .weather-summary__temp {
      font-size: 1.55rem;
      color: rgba(52, 73, 94, 0.6); }
      @media only screen and (max-width: 37.4375em) {
        .weather-summary.active > .weather-summary__temp {
          font-size: 1.45rem; } }
      @media only screen and (max-width: 29.9375em) {
        .weather-summary.active > .weather-summary__temp {
          font-size: 1.05rem; } }
      @media only screen and (max-width: 23.6875em) {
        .weather-summary.active > .weather-summary__temp {
          font-size: 1rem; } }
  .weather-summary:not(.active) {
    cursor: pointer; }
  .weather-summary__day {
    text-align: center;
    margin-top: 1rem; }
    @media only screen and (max-width: 29.9375em) {
      .weather-summary__day {
        font-size: 1.1rem; } }
    @media only screen and (max-width: 23.6875em) {
      .weather-summary__day {
        font-size: 1.05rem; } }
  .weather-summary__icon {
    width: 91%;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 37.4375em) {
      .weather-summary__icon {
        width: 89%; } }
    @media only screen and (max-width: 29.9375em) {
      .weather-summary__icon {
        width: 87%; } }
    @media only screen and (max-width: 23.6875em) {
      .weather-summary__icon {
        width: 85%; } }
    .weather-summary__icon > img {
      width: 100%; }
  .weather-summary__temp {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 29.9375em) {
      .weather-summary__temp {
        font-size: 1.1rem; } }
    @media only screen and (max-width: 23.6875em) {
      .weather-summary__temp {
        font-size: 1.05rem; } }
    .weather-summary__temp-high {
      margin-right: 1rem; }
    .weather-summary__temp-high::after, .weather-summary__temp-low::after {
      content: '\00b0'; }
