// COLORS
$color-dark-black-blue: #1b2631;
$color-dark-desaturated-blue-1: #34495e;
$color-dark-desaturated-blue-2: #283747;

$color-grayish-blue: #aeb6bf;
$color-light-grayish-blue-1: #f2f3f4;
$color-light-grayish-blue-2: #f0f3f4;
$color-dark-grayish-blue: #85929e;

$color-bright-blue: #3498db;

$color-soft-orange: #f8c471;

$color-red: #ff0000;

$color-white: #fff;
$color-black: #000;

// FONT
$font-size-primary: 4rem;
$font-size-secondary: 3rem;
$default-font-size: 1.6rem;
$font-size-book: 1.2rem;
