.form {
  &__group-wrapper {
    display: flex;
    justify-content: space-between;
  }

  // &__group {
  //   margin-bottom: 1rem;
  // }

  &__input {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border: none;
    border-bottom: 0.3rem solid transparent;
    border-radius: 1rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border-bottom: 0.3rem solid $color-bright-blue;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-red;
    }

    &::-webkit-input-placeholder {
      color: $color-dark-grayish-blue;
    }

    &.error {
      border-bottom: 0.3rem solid $color-red;
    }
  }

  &__label {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-align: left;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  &__input:focus:invalid + &__label {
    color: $color-red;
  }

  &__input.error + &__label {
    color: $color-red;
  }

  // &__input:placeholder-shown + &__label {
  //   opacity: 0;
  //   visibility: hidden;
  //   transform: translateY(-4rem);
  // }
}
