.alert {
  position: fixed;
  width: 60%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
  box-shadow: 0 2rem 4rem rgba($color-black, 0.25);

  // @include respond(tab-port) {
  //   font-size: 1.8rem;
  //   width: 50vw;
  // }

  // @include respond(tab-land) {
  //   font-size: 2rem;
  //   width: 60vh;
  // }

  // @include respond(desktop) {
  //   font-size: 1.6rem;
  //   width: 35rem;
  // }

  &--error {
    background-color: $color-red;
  }
}
