.alert {
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
  box-shadow: 0 2rem 4rem rgba($color-black, 0.25);

  @include respond(big-mobile) {
    width: 70%;
    font-size: 1.5rem;
  }

  @include respond(mobile) {
    width: 75%;
    font-size: 1.3rem;
  }

  @include respond(small-mobile) {
    width: 80%;
    font-size: 1.1rem;
  }

  &--error {
    background-color: $color-red;
  }

  &--warning {
    background-color: #f8c471;
  }
}
