.btn {
  display: inline-block;
  width: 90%;
  padding: 1.5rem 4rem;
  background-color: rgba($color-white, 0.3);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &-icon {
    font-size: 2.3rem;
  }
}
