// .weather-details-wrapper {
//   max-width: 60rem;
//   background-color: $color-light-grayish-blue-1;
//   background-image: linear-gradient(
//     110deg,
//     $color-light-grayish-blue-2,
//     $color-light-grayish-blue-1
//   );
//   margin-left: auto;
//   margin-right: auto;
//   padding: 1rem;
// }
.weather-wrapper {
  max-width: 60rem;
  background-color: rgba($color-light-grayish-blue-1, 0.17);
  background-image: linear-gradient(
    110deg,
    rgba($color-light-grayish-blue-2, 0.17),
    rgba($color-light-grayish-blue-1, 0.17)
  );
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
}

.weather-details-wrapper {
  border: 0.2rem solid rgba($color-dark-black-blue, 0.17);
  border-radius: 2rem;
}

.weather-forecast-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1rem;
}

.weather-details-wrapper,
.weather-forecast-wrapper {
  background-color: $color-grayish-blue;
  background-image: linear-gradient(
    140deg,
    $color-dark-grayish-blue,
    $color-grayish-blue
  );
}

.weather-details {
  // background-color: $color-grayish-blue;
  // background-image: linear-gradient(
  //   140deg,
  //   $color-dark-grayish-blue,
  //   $color-grayish-blue
  // );

  &__header {
    padding: 1rem;

    // &-location {
    //   font-size: 3rem;
    //   font-weight: 600;
    // }

    // &-day {
    //   font-size: 1.6rem;
    // }

    &-weather {
      text-transform: capitalize;
    }
  }

  &__condition {
    display: flex;
    padding: 1rem;

    &--primary {
      display: flex;
      width: 75%;
    }

    &-icon {
      // padding: 1rem;
      width: 5rem;

      & > img {
        width: 100%;
      }
    }

    &-temp {
      display: flex;
      padding: 0.5rem;

      // &-value {
      //   font-size: 3rem;
      //   font-weight: 600;
      // }

      &-unit {
        // font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-left: 0.3rem;

        & > span::before {
          content: '\00b0';
        }

        & > .active {
          color: lightblue;
        }
      }
    }

    // &--secondary {
    //   font-size: 1.6rem;
    // }
  }
}

.weather-summary {
  border-top: 0.2rem solid $color-dark-black-blue;
  border-bottom: 0.2rem solid $color-dark-black-blue;
  border-right: 0.1rem solid $color-dark-black-blue;

  &:first-child {
    border-left: 0.2rem solid $color-dark-black-blue;
  }
  &:last-child {
    border-right: 0.2rem solid $color-dark-black-blue;
  }

  &.active {
    background-color: $color-grayish-blue;
    background-image: linear-gradient(45deg, $color-grayish-blue, #3498db);
  }

  &__day {
    text-align: center;
    margin-top: 1rem;
  }

  &__temp {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    &-high {
      margin-right: 1rem;
    }

    &-high::after,
    &-low::after {
      content: '\00b0';
    }
  }
}
