@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
[1800px - 1200px] the normal style in use (Desktop-First @ Max-Width 1799px)
[1199px - 900px] Tablet Landscape (Max-Width 1199px)

$breapoint argument choices for non-orientation:
 - tab-land

$breakpoint argument choices for orientation (tablets/phones):
 - port-991x-768n
 - port-1199x-992n

Example ratio:
 - tab-land @ 1199px/16px = 74.9375em

Let 1em = 16px

MAX-WIDTH
74.9375em = 1199px

MAX-WIDTH AND MIN-WIDTH
61.9375em = 991px (max) AND 48em = 768px (min)
74.9375em = 1199px (max) AND 62em = 992px (min)
*/
@mixin respond($breakpoint) {
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 74.9375em) {
      @content;
    }
  }

  @if $breakpoint == port-1199x-992n {
    @media only screen and (max-width: 74.9375em) and (min-width: 62em) and (orientation: portrait) {
      @content;
    }
  }
  @if $breakpoint == port-991x-768n {
    @media only screen and (max-width: 61.9375em) and (min-width: 48em) and (orientation: portrait) {
      @content;
    }
  }
}
